<div id="user-profile-container">
    <div class="nav-body-wrapper">
        <div class="user-profile-nav-left">
            <%= render "profile_nav" %>
        </div>
        <div class="user-profile-body-right">
            <%= render "profile_editor" %>
        </div>
    </div>
</div>