<div id="onion-rings-index-cont">
    <div class="index-title-header">
        <h2>All Onion Rings<h2>
    </div>
    <div class="row">

        <% @onion_rings.each do |onion_ring| %>

            <div class="col-lg-3">

                <%= link_to onion_ring_reviews_path(onion_ring) do %>
                    <div class="onion-item">
                        <div class="onion-img-cont">
                            <%= image_tag (onion_ring.img_path) %>
                        </div>

                        <div class="onion-body-cont">
                            <h5><%= onion_ring.name %></h5>
                            <p><%= onion_ring.reviews_count %> reviews</p>
                        </div>
                    </div>

                <% end %>

            </div>

        <% end %>

    </div>
</div>