<div id="restaurants-index-container">
  <% @restaurants.each do |restaurant| %>
    <div class="restaurant-item">

      <div class="res-img">
        <% if restaurant.img_path %>
          <%= image_tag (restaurant.img_path) %>
        <% end %>
      </div>

      <div class="restaurant-body">
        <h5><%= restaurant.name %></h5>
        <p><%= restaurant.address %></p>
      </div>

    </div>
  <% end %>
</div>