/* REVIEWS SHOW CSS */
#onion-show-container {
    margin-top: 30px;
}

#onion-show-container .onion-show-header {
    margin-bottom: 30px;
}

#onion-show-container .onion-show-header h1 {
    font-size: 40px;
    margin-bottom: 5px;
}

#onion-show-container .onion-avg-rating-section {
    display: flex;
    margin-bottom: 10px;
}

#onion-show-container .rating-star {
    width: 25px;
    height: 25px;
    border-radius: 7px;
    background-color: #ff9000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

#onion-show-container .rating-star-small {
    width: 15px;
    height: 15px;
    border-radius: 4px;
    background-color: #ff9000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}

#onion-show-container .rating-star-small i {
    font-size: 10px;
}

#onion-show-container .review-button {
    background-color: #ff9000;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding: 0px 8px 0px 8px;
    margin-left: 5px;
}

#onion-show-container .review-button:hover {
    background-color: #ffa500;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

#onion-show-container .review-button a {
    text-decoration: none;
    color: white;
}

#onion-show-container .reviewer-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

#onion-show-container .reviewer-icon i {
    font-size: 30px;
}


#onion-show-container .review-description h2 {
    margin-bottom: 7px;
}

#onion-show-container .review-description p {
    font-size: 17px;
}

#onion-show-container .review-description {
    width: 600px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
}




#onion-rings-index-cont {
    margin-top: 30px;
}

#onion-rings-index-cont .index-title-header{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

#onion-rings-index-cont a {
    text-decoration: none;
    color: black;
}

#onion-rings-index-cont .onion-item {
    margin-bottom: 30px;
}

#onion-rings-index-cont .onion-item:hover {
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

#onion-rings-index-cont .show-res-name-cont {
    margin-bottom: 30px;
}

#onion-rings-index-cont .show-res-name-cont p {
    color: grey;
}

#onion-rings-index-cont .onion-img-cont {
    height: 200px;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
}

#onion-rings-index-cont .onion-item img {
    width: 100%;
    border-radius: 3px 3px 0px 0px;
}

#onion-rings-index-cont .onion-item {
    height: 290px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

#onion-rings-index-cont .onion-body-cont {
    padding: 10px;
}

#onion-rings-index-cont .onion-body-cont p {
    font-size: 15px;
    color: grey;
    line-height: 17px;
}