/* REVIEWS SHOW CSS */
#review-show-container {
    margin-top: 20px;
}

#review-show-container .review-header {
    margin-bottom: 30px;
}

#review-show-container .review-header h1 {
    font-size: 40px;
    margin-bottom: 5px;
}

#review-show-container .review-rating-section {
    display: flex;
    margin-bottom: 10px;
}

#review-show-container .rating-star {
    width: 25px;
    height: 25px;
    border-radius: 7px;
    background-color: orangered;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

#review-show-container .rating-star-small {
    width: 15px;
    height: 15px;
    border-radius: 4px;
    background-color: orangered;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}

.rating-star-small i {
    font-size: 10px;
}

#review-show-container .review-button {
    background-color: orangered;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding: 0px 8px 0px 8px;
    margin-left: 5px;
}

#review-show-container .review-button a {
    text-decoration: none;
    color: white;
}

#review-show-container .reviewer-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

#review-show-container .reviewer-icon i {
    font-size: 30px;
}


#review-show-container .review-description h2 {
    margin-bottom: 7px;
}

#review-show-container .review-description p {
    font-size: 17px;
}

#review-show-container .review-description {
    width: 600px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
}