<div id="review-show-container">

    <div class="review-header">

        <h1><%= @review.onion_ring.name %></h1>

        <div class="review-rating-section">
            <% @review.rating.times do %>
                <div class="rating-star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
            <% end %>
            <div>
                <button class="review-button"><%= link_to "Write a Review" %></button>
            </div>
        </div>

    </div>

    <div class="review-content">

        <div class="review-description">
            <h2><i class="fa fa-user" aria-hidden="true"></i> <%= @review.user.name %></h2>
            <p><%= @review.description %></p>
        </div>

    </div>

</div>